ul li {
    color: black;
    display: inline;
    font-size: 24px;  
    font-family: 'Open Sans', sans-serif;
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: non
}

ul {
	list-style-type: none;


}

p {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

body{
	margin-top: 2em;
	margin-left: 20em;
	margin-right: 20em;
	background-image: url('media/squared_metal_@2X.png');
}

.button {
	 padding:5px;
  	background-color: white;
  	border: 2px solid #A30000;
  	color:#000;
  	text-decoration:none;
  	border-bottom-right-radius: 5px;
  	border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
  	border-top-right-radius: 5px;
}

#container{
	padding-top:.5em;
	background-color:white;
	padding-bottom: .5em;
	padding-left: 1em;
	padding-top: .5em;
	border-bottom-right-radius: 8px;
  	border-top-left-radius: 8px;
  	border-bottom-left-radius: 8px;
  	border-top-right-radius: 8px;
  	margin-left:auto;
  	margin-right: auto;

}