ul li {
    color: black;
    display: inline;
    font-size: 24px;
    
    font-family: 'Open Sans', sans-serif;
}

ul {
	list-style-type: none

}

p {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

body{
	margin-left: 15em;
	margin-right: 15em;
	background-image: url('media/squared_metal_@2X.png');
}

.button {
	 padding:5px;
  	background-color: white;
  	border: 1px solid #666;
  	color:#000;
  	text-decoration:none;
}

#winloss{
	padding-left: .5em;
	padding-top: .5em;
}